table{
    border-collapse: collapse;
    border: 2px solid black;
    /*display: none;*/
}

table tr:nth-child(odd){
    background: white;
}

table tr:nth-child(even){
    background: aliceblue;
}

th, td{
    border: 1px dotted grey;
}

th{
    background-color: blue;
    color: white;
    padding: .4em;
}

td{
    padding: .3em;
}
